/**** Custom Properties ****/
:root {
  --black:black;
  --white: #fff;
  --light-blue: #c9dff1;
  --shiny-blue: #03a9f4;
  --font: 'Raleway', sans-serif;
  --dark-blue: #035880;
  --header-height: 4rem;
  --black-alpha-color: rgba(0,0,0,0.6);
  --gray-light-color: #f3f3f3;
}

/**** Reset ****/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

h4 {
  margin: 0;
  font-size: 0.9rem;
}

h5 {
  margin: 0;
  font-size: 0.7rem;
}

h6 {
  margin: 0;
  font-size: 0.5rem;
}

p {
  line-height: 1.6;
}

/**** Components ****/

/** Menú **/
.menu-btn  {
  background-color: var(--light-blue);
  border: 0;
  cursor: pointer;
  outline: thin solid var(--dark-blue);
}

.menu-btn svg {
  fill:  var(--dark-blue);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  opacity: 0;
  pointer-events: none;
  width: 100%;
  background-color: #1f6d91;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu a:active {
  background-color: var(--shiny-blue);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;

    width: auto;
  }

  .menu a, .menu li{
    display: inline;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover{
    background-color: transparent;
    color: var(--shiny-blue)
  }

  .menu ul > li:last-child a{
    padding-right: 0;
  }
}

/*** Card ***/
.card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.card svg {
  fill: var(--dark-blue);
  margin-bottom: 1.25rem;
}

.card h3 {
  color: var(--shiny-blue);
}

/*** Hero-image ***/
.hero-image {
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-image-opacity {
  background-color: var(--black-alpha-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.hero-image-title {
  color: var(--white);
  font-size: 7vw;
  margin: 1rem;
}

.hero-image-text {
  color: var(--white);
  font-size: 2vw;
}

/**** Utilities ****/

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--dark-blue);
  border-bottom: thin solid var(--dark-blue);
  margin: 2rem auto;
  width: 300px;
  padding: .5rem 1rem;
  text-align: center;
  font-size: 1.5rem;

}

/**** Site styles ****/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: #1f6d91;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.logo-1part {
  color: var(--shiny-blue);
}

.logo-2part {
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .header{
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .about > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-items: center;
  }

  .about .section-title {
    grid-column: span 2;
  }

  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

}
